@charset "UTF-8";

/**********
mask 弹层 基础动画样式 不需要修改
by 2019/07/26 ls
**********/

// 遮罩弹层
.dlrLayer {
  position: relative;
  z-index: 1000;

  // ========== 模块分隔线
  // 只弹一级 弹层

  // 顶部弹层
  &-top {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    transition-duration: 0.3s;
    transform: translate(0, -110%);
  }

  // 底部弹层
  &-bottom {
    position: fixed !important;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    transition-duration: 0.3s;
    transform: translate(0, 110%);
  }

  // 中间弹层
  &-middle {
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 11;
    max-width: 100%;
    transition-duration: 0.3s;
    transform: translate(-50%, -800%);
  }

  // 右侧弹层
  &-right {
    position: fixed !important;
    top: 0;
    right: 0;
    z-index: 11;
    height: 100%;
    transition-duration: 0.3s;
    transform: translate(110%, 0);
  }

  // 黑色遮罩
  &-mask {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 1000%;
    height: 1000%;
    background: rgba(#000, 0.4);
    transform: translate(-50%, -50%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  // 顶部动画 进入
  &.slideTop_in {
    // animation: maskbox-bg 300ms;
    .dlrLayer-top {
      transition-duration: 0.3s;

      // animation: animation-slide-top-in 400ms;
      transform: translate(0, 0);
    }
  }

  // 顶部动画 离开
  &.slideTop_out {
    // animation: maskbg-out 300ms;
    .dlrLayer-top {
      transition-duration: 0.3s;

      // animation: animation-slide-top-out 400ms;
      transform: translate(0, -110%);
    }
  }

  // 底部动画 进入
  &.slideBottom_in {
    // animation: maskbox-bg 300ms;
    .dlrLayer-bottom {
      transition-duration: 0.3s;

      // animation: animation-slide-bottom-in 300ms;
      transform: translate(0, 0);
    }
  }

  // 底部动画 离开
  &.slideBottom_out {
    // animation: maskbg-out 300ms;
    .dlrLayer-bottom {
      transition-duration: 0.3s;

      // animation: animation-slide-bottom-out 300ms;
      transform: translate(0, 110%);
    }
  }

  // 中间动画 进入
  &.slideMiddle_in {
    // animation: maskbox-bg 300ms;
    .dlrLayer-middle {
      transition-duration: 0.3s;

      // animation: animation-slide-middle-in 300ms;
      transform: translate(-50%, -50%);
    }
  }

  // 中间动画 离开
  &.slideMiddle_out {
    // animation: maskbg-out 300ms;
    .dlrLayer-middle {
      transition-duration: 0.3s;

      // animation: animation-slide-middle-out 300ms;
      transform: translate(-50%, -800%);
    }
  }

  // 右侧动画 进入
  &.slideRight_in {
    // animation: maskbox-bg 300ms;
    .dlrLayer-right {
      transition-duration: 0.3s;

      // animation: animation-slide-right-in 300ms;
      transform: translate(0, 0);
    }
  }

  // 右侧动画 离开
  &.slideRight_out {
    // animation: maskbg-out 300ms;
    .dlrLayer-right {
      transition-duration: 0.3s;

      // animation: animation-slide-right-out 300ms;
      transform: translate(110%, 0);
    }
  }

  // ========== 模块分隔线
  // 多级 弹层 比如选 品牌 车系 车型等

  // 是否开启上一个模块移动动画
  $rightAnim: true; // true 开启上一个模块移出动画 呈现推出效果
  // $rightAnim: false;    // false 关闭上一个模块移出动画 呈现层叠效果

  // 多级弹层 基础模块 右侧
  .dlrLayerLevel_right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    transform: translate(100%, 0);

    // >> 动画进入 当前状态
    &.dlrSlideRight_in {
      transition-duration: 0.3s;
      transform: translate(0, 0);
    }

    // >> 动画初始位置 即当前下一个
    &.dlrSlideRight_next {
      transition-duration: 0.3s;
      transform: translate(110%, 0);
    }

    // >> 动画上一个 即当前上一个
    @if $rightAnim == true {
      &.dlrSlideRight_prev {
        transition-duration: 0.3s;
        transform: translate(-100%, 0);
      }
    } @else {
      &.dlrSlideRight_prev {
        transition-duration: 0.3s;
        transform: translate(0, 0);
      }
    }
  }

  // 是否开启上一个模块移动动画
  $bottomAnim: true; // true 开启上一个模块移出动画 呈现推出效果
  // $bottomAnim: false;    // false 关闭上一个模块移出动画 呈现层叠效果

  // 多级弹层 基础模块 底部
  .dlrLayerLevel_bottom {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    transform: translate(0, 100%);

    // >> 动画进入 当前状态
    &.dlrSlideBottom_in {
      transition-duration: 0.3s;
      transform: translate(0, 0);
    }

    // >> 动画初始位置 当前的下一个
    &.dlrSlideBottom_next {
      transition-duration: 0.3s;
      transform: translate(0, 100%);
    }

    // >> 动画上一个 当前的上一个
    @if $bottomAnim == true {
      &.dlrSlideBottom_prev {
        transition-duration: 0.3s;
        transform: translate(0, -100%);
      }
    } @else {
      &.dlrSlideBottom_prev {
        transition-duration: 0.3s;
        transform: translate(0, 0);
      }
    }
  }
}
