@charset "UTF-8";

/*
=============================================
是否需要重置样式 reset

Ps:取值为 on || off

默认值：$resetSwitch: on;
=============================================
*/

@use 'sass:list';

$rootFont: 20 !default;
$resetSwitch: on !default;

@if $resetSwitch==on {
  //  重置样式
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  input,
  select,
  textarea,
  label,
  legend,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-style: normal;
  }

  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  ol,
  ul {
    list-style: none;
  }

  a,
  ins {
    text-decoration: none;
  }

  img {
    vertical-align: top;
    aspect-ratio: attr(width) / attr(height);
  }

  input,
  select,
  textarea {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    outline: 0;
    box-shadow: none;
  }

  a,
  span {
    outline: 0;
  }

  html {
    word-wrap: break-word;
    word-break: break-all;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="search"] {
    -webkit-appearance: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  textarea {
    -webkit-appearance: none;
  }

  html,
  body,
  input,
  select,
  textarea,
  a,
  span,
  div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
  }

  * {
    -webkit-touch-callout: none;
  }
}

/*
=============================================
是否需要将单位转成 rem

Ps:取值为 on || off || off_half

当ptrd(20)时
on        输出为：0.5rem
off       输出为：20px
off_half  输出为：10px (用于M端输出px单位，使用场景：需要将模块js注入到其它业务线)

默认值 $remSwitch: on;

==========
是否需要设置默认根字体大小

Ps: 取值为任意整数

默认值：$rootFont:20;
=============================================
*/

/*
=============================================
是否需要数字字体

Ps:取值为 on || off || on_letter

on: 数字字体、部分符号、英文字母
off: 不加载数字字体

默认值：$fontNumberSwitch: on;
=============================================
*/

$fontNumberSwitch: on !default;

@if $fontNumberSwitch == on {
  //  数字字体 大小写字母
  @font-face {
    font-family: "din_alternate_bold_number";
    src: url("https:// x.autoimg.cn/dealer/dealer_front/m/s_dir/s_fe/fonts/font_letter/0.0.0/din_alternate_bold_letter.eot?t=1498790210546003");

    /* IE9 */
    src: url("https:// x.autoimg.cn/dealer/dealer_front/m/s_dir/s_fe/fonts/font_letter/0.0.0/din_alternate_bold_letter.eot?t=1498790210546003#iefix")
        format("embedded-opentype"),
      url("https:// x.autoimg.cn/dealer/dealer_front/m/s_dir/s_fe/fonts/font_letter/0.0.0/din_alternate_bold_letter.woff?t=1498790210546003")
        format("woff"),
      url("https:// x.autoimg.cn/dealer/dealer_front/m/s_dir/s_fe/fonts/font_letter/0.0.0/din_alternate_bold_letter.ttf?t=1498790210546003")
        format("truetype"),
      url("https:// x.autoimg.cn/dealer/dealer_front/m/s_dir/s_fe/fonts/font_letter/0.0.0/din_alternate_bold_letter.svg?t=1498790210546003#iconfont")
        format("svg");
    /* iOS 4.1- */
  }
}

/*
=============================================
全站基础样式设置

Ps:取值为 on || off || on_letter

=============================================
*/

$baseSwitch: on !default;

@if $baseSwitch == on {
  html {
    font: list.slash(#{$rootFont}px, 1.2) "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei",
      STHeiTi, sans-serif;
    color: #111e36;
    background-color: #fff;
  }

  // >>>>>>>>>>
  // 全局样式设置
  .fn-hide {
    display: none !important;
  }

  // >>>>>>>>>>
  // 第三方控件引入后 需要重置的样式
  // 极验 验证码颜色设置
  .geetest_tip_space {
    color: #111e36;
  }
}

/*
=============================================
1.是否需要Flex 布局框架 样式

Ps:取值为 on || off

默认值：$frameSwitch: on;

2.是否需要限定页面宽度

Ps:取值为 on || off
Ps:$frameWidthSwitch 开关生效依赖于 $frameSwitch 为on状态

默认值：$frameWidthSwitch: on;
=============================================
*/
$frameSwitch: on !default;
$frameWidthSwitch: on !default;

@media only screen and (min-width: 750px) {
  .dlrHtml .dlrContainer {
    max-width: inherit !important;
  }
}

@if $frameSwitch == on {
  // Flex布局 DIV滚动的
  .dlrHtml {
    height: 100%;
    min-height: 100%;
    overflow: hidden; // > 重置body

    body {
      height: 100%;
      min-height: 100%;
      overflow: hidden; // >> 弹层弹起将body fixed起来

      &.dlrBody_fixed {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // > VUE最外层的div 根元素
    .dlrContainer {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      min-height: 100%;

      @if $frameWidthSwitch == on {
        max-width: 750px;
        margin: 0 auto;
      }

      // >> flex布局 主内容区域
      &-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        // >>> 内容滚动区域
        &-scroll {
          position: relative;
          flex: 1;
          overflow: hidden;
          overflow-y: auto;
          background-color: #fff;
          -webkit-overflow-scrolling: touch;
          overflow-scrolling: touch;

          // >>> 锁住滚动
          &.dlrScroll_auto {
            -webkit-overflow-scrolling: auto;
            overflow-scrolling: auto;
          }
        }
      }
    }
  }
}

/*
=============================================
是否需要兼容 iphonex 等全面屏

Ps:取值为 on || off

默认值：$iphonexSwitch: on;
=============================================
*/

$iphonexSwitch: on !default;

@if $iphonexSwitch == on {
  .dlrContainer,
  .dlrLayer-bottom {
    /* 兼容 IOS>11.2 */
    box-sizing: border-box;
    padding-bottom: constant(safe-area-inset-bottom);

    /* 兼容 IOS<11.2 */
    padding-bottom: env(safe-area-inset-bottom);
  }
}
